@model bd.webappseguridad.entidades.Negocio.Adscmenu

@{
    ViewData["Title"] = "Menu";
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-save"></i> </span>
                        <h2>Men&uacute;</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form  asp-action="Create" id="checkout-form"  class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                               @{await Html.RenderPartialAsync("_MenuPartialView", Model);}
                                <footer>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index"  class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {

<script type="text/javascript">
        $(document).ready(function () {
            $("#AdmeSistema").change(function () {
                $("#AdmePadre").empty();
                $("#AdmePadre").append('<option value="0">[Seleccione un menu padre]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarPadresPorSistema")',
                    dataType: 'json',
                    data: { AdmeSistema: $("#AdmeSistema").val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $("#AdmePadre").append('<option value="'
                                + data.admeAplicacion + '">'
                                + data.admeAplicacion + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve Departments.' + ex);
                    }
                });
                return false;
            })
        });
</script>

}
