@using Microsoft.AspNetCore.Mvc.Razor
<!-- HEADER -->
<div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> <img src="~/img/logo.png" alt="SmartAdmin"> </span>
    <!-- END LOGO PLACEHOLDER -->
   
</div>

<!-- END HEADER -->